<%- include('partials/_navbar.ejs', { title: `${user.username}'s Account` }) %>
<body>
    <%- include('partials/_pageHeader.ejs', { subheader: `${user.username}'s Account` }) %>
    <div>
        <% if(user.uploadedGear.length === 0) { %>
            <h3 class="profileH3">You Don't Have Any Gear</h3>
        <% } else { %>
            <ul id="gearIndexItm">
            <h3 class="profileH3">Your Gear</h3>
              <% userGear.forEach(g => { %>
                    <a href="/gear/<%= g._id %>">
                        <li><%= g.name %></li>
                    </a>
              <% }) %>
            </ul>
        <% } %>
    </div>
    <div>
        <p><strong>Member Since:</strong> <%= new Date(user.createdAt) %></p>
    </div>
</body>
</html>