<%- include('../partials/_navbar.ejs', { title: 'Edit Gear' }) %>
<body>
    <%- include('../partials/_pageHeader', { subheader: 'Edit Gear You Have Used Incorrectly'}) %>
    <form action="/gear/<%= gear._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend><em>Wrong Uses Only</em></legend>
            <!-- <div>
                <label for="img">Image:</label>
                <input type="file" name="img" id="img" accept="image/*" />
                <em>Current File: <%= gear.img %></em>
            </div> -->
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required value="<%= gear.name %>" />
            </div>
            <div>
                <label for="compant">Company:</label>
                <input type="text" name="company" id="company" required value="<%= gear.company %>" />
            </div>
            <div>
                <label for="format">Format:</label>
                <select name="format" id="format" required>
                    <% ['pedal', 'modular', 'pro audio', 'cassette player/4 track', 'diy', 'other'].forEach(format => { %>
                        <option <%= gear.format === format ? 'selected' : '' %> value="<%= format %>">
                            <%= format.charAt(0).toUpperCase() + format.split('').slice(1).join('') %>
                        </option>
                    <% }) %>
                </select>
            </div>
            <div>
                <label for="effects">Effects:</label>
                <br />
                <% ['Distortion', 'Reverb', 'Filter', 'Delay', 'Ring-Mod', 'Octave', 'Oscillator', 'Resonator', 'Function', 'No-Input', 'Other'].forEach(effect => { %>
                <input type="checkbox" name="effects" id="effects" value="<%= effect %>" <%= gear.effects.includes(effect) ? 'checked' : '' %> />
                    <%= effect %>
                    <br />
                <% }) %>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea name="description" id="description"><%= gear.description %></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</body>
</html>