<%- include('../partials/_navbar.ejs', { title: 'Add Gear' }) %>
<body>
    <%- include('../partials/_pageHeader', { subheader: 'ADD GEAR YOU HAVE USED INCORRECTLY'}) %>
    <form action="/gear/" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend><em>Wrong Uses Only</em></legend>
            <div>
                <label for="img">Image:</label>
                <input type="file" name="img" id="img" accept="image/*" required />
            </div>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required placeholder="ODB-3" />
            </div>
            <div>
                <label for="compant">Company:</label>
                <input type="text" name="company" id="company" required placeholder="BOSS" />
            </div>
            <div>
                <label for="format">Format:</label>
                <select name="format" id="format" required>
                    <% ['pedal', 'modular', 'pro audio', 'cassette player/4 track', 'diy', 'other'].forEach(format => { %>
                        <option value="<%= format %>">
                            <%= format.charAt(0).toUpperCase() + format.split('').slice(1).join('') %>
                        </option>
                    <% }) %>
                </select>
            </div>
            <div>
                <label for="effects">Effects:</label>
                <br />
                <% ['Distortion', 'Reverb', 'Filter', 'Delay', 'Ring-Mod', 'Octave', 'Oscillator', 'Resonator', 'Function', 'No-Input', 'Other'].forEach(effect => { %>
                <input type="checkbox" name="effects" id="effects" value="<%= effect %>" />
                    <%= effect %>
                    <br />
                <% }) %>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea name="description" id="description" placeholder="The greatest, yellowest pedal ever made"></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</body>
</html>