<%- include('../partials/_navbar.ejs', { title: gear.name }) %>
<body>
    <%- include('../partials/_pageHeader.ejs', { subheader: `${gear.name}` }) %>
    <div>
        <img src="<%= gear.img %>" alt="Photo of <%= gear.name %>" id="show-img" />
    </div>
    <div>
        <strong>Manufactured By:</strong> <%= gear.company %>
    </div>
    <div>
        <strong>Type:</strong> <%= gear.format %>
    </div>
    <div>
        <strong>Effect:</strong>
        <ul id="show-fx">
            <% const effects = [gear.effects] %>
            <% effects.forEach(fx => { %>
                <li><%= fx %></li>
            <% }) %>
        </ul>
    </div>
    <div>
        <strong>Description:</strong> <%= gear.description %>
    </div>
    <div>
        <strong>Submitted By:</strong> <%= gear.createdBy %>
    </div>
    <div>
        <button onclick="window.history.back()">Go Back</button>
        <% if (user !== null && user.username === gear.createdBy) { %>
        <a href="/gear/<%= gear._id %>/edit"><button>Edit</button></a> 
        <form action="/gear/<%= gear._id %>?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
        <% } %>
    </div>
</body>
</html>